/* You can add global styles to this file, and also import other style files */

/* Global site background */

/* body {
    background: #673AB7;
}

form {
    width: 500px;
    margin: 8% auto;
    padding: 50px 0;
    text-align: center;
    box-shadow: 0 20px 40px rgb(0, 0, 0);
} */

body {
    background: #fff;
}
